*{
  box-sizing: border-box;
}
body{
  background-color: darkslategrey;
  color: honeydew;
}
main {
  max-width: 360px;
  margin: 30px auto;
}
h1 {
  text-align: center;
  color: ghostwhite;
  margin: 0;
}
form {
  margin-top: 20px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: cornsilk;
  border: 2px solid rgb(122, 149, 189);
  padding: 2px 5px;
  border-radius: 5px;
}
form input[type="datetime-local"] {
  color: #777;
}
form div.expenses{
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}
form button {
  width: 100%;
  margin-top: 5px;
  border: 2px rgb(122, 149, 189);
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(244, 247, 233);
}
div.transactions {
  margin-top: 10px;
}
div.transaction {
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
  border-top: 1px solid rgb(122, 149, 189) ;
}
div.transaction:first-child {
  border-top: 0;
}
div.transaction div.name {
  font-size: 1.2rem;
}
div.transaction div.description {
  font-size: .7rem;
  color:darkkhaki
}
div.right {
  text-align: right;
}
div.price.green {
  color: chartreuse;
}
div.price.red {
  color: firebrick;
}
div.transaction div.datetime {
  font-size: .7rem;
  color:darkkhaki
}